#nav1
{
    background: #F3EDF7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    Height: 64px;
    margin: 0;
    left: 0;
    position: fixed;
    z-index: 1;

}
h1 {
    
    color: black;
    font-family: Roboto;
    font-size: 22px;
 
  
}
/*le puse el# */
#a1{
    max-width: 200px;
    display: block;
  
}
/*
a.overflow-hidden {
    overflow: hidden;
}*/
.usuario{
  float: right;
  width: 40px;
  height: 40px;

}
.menu-button {
    width: 48px;
    height: 48px;
    color: #000;
    background-color: #F3EDF7;
    text-align:center;
    line-height: 40px;
    cursor: pointer;
    gap: 10px;
   border-radius: 100px;
    margin-left: 10px;
    font-weight: 600;

}

/* Estilos para el menú desplegable (section) */
#nav1> section {
    width: 146px;
    height: 100%;
    position: fixed;
    top: 64px;;
    left: -250px; /* Inicialmente oculto */
    background: #D9D9D9;
    transition: 0.5s;
    text-align: center;
}

/* Estilos para los enlaces del menú */
#nav1 section a {
    padding: 15px 35px;
    text-decoration: none;
    font-size: 16px;
    color: #6750A4;
    display: block;
    transition: 0.3s;
  
    font-family: Roboto;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

/* Estilos para los enlaces del menú al pasar el mouse */
#nav1 section a:hover {
    background-color: #555;
}


.contenido {
    font-size: 24px; /* Tamaño de fuente para encabezados */
    color: #333; /* Color del texto */
    text-align: center;
}
footer{
    font-family: Roboto;
    text-align: right;
    color: black;
    bottom: 0;
    left: 0;
    top: 97%;
    position:sticky;
    font-size: 12px;
    transform: translate(-15%);

    
}