#olis {
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    font-style: normal;
    line-height: 20px; /* 55.556% */
    padding:50px 50px;
}
div{
    background-color: #FFF;
    font-family: Roboto;
}
ul, li {
    list-style: none; /* Quita las viñetas */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  text-align: center; /* Centra horizontalmente el contenido de cada <li> */
  margin-bottom: 20px; /* Espacio entre cada par de elementos <label> y <input> */
  justify-content: space-between;

}

.input-box{
  position:relative;
  border: 2px solid #6750A4;
  width: 250px;
  height: 40px;
  border-radius: 4px 4px 0px 0px;
z-index: 0; 
}
  
label {
display: block;
margin-bottom: -8px; 
position: relative;
transform: translate(-5%);
color: var(--m-3-sys-light-primary, #6750A4);
/* M3/body/small */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 10px; 
z-index: 1; 

  }


.buttons {
  text-align: center;
}
.password{
  text-decoration: none; /* Quitar el subrayado */
  color: #6750A4;/* Cambiar el color del enlace si es necesario */
  font-weight: bold;
  font-size: 10px;
  margin-left: 615px;
}

.login-button {
  background-color: #E8DEF8;
  ; /* Color morado claro */
  border: none;
  border-radius: 50px; /* Hace que el botón sea ovalado */
  color: black; /* Color de texto blanco */
  font-size: 14px;
  font-weight: bold; 
  padding: 10px 20px; /* Ajusta el padding según tus preferencias */
  cursor: pointer;
  transform: translate(20%);
}
.registro-button{
color: var(--m-3-sys-light-primary, #6750A4);
text-align: center;
/* M3/label/large */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
background-color: transparent; /* Fondo transparente */
border: none; 
font-weight: bold;
cursor: pointer;
transform: translate(20%);
}

.resaltado {
  font-weight: bold; /* Hace que el texto aparezca en negrita */
  background-color: #fff5f5; /* Aplica un fondo amarillo al texto */
  padding: 2px 4px; /* Agrega un pequeño espaciado interno para resaltar */
}
