#Formulario{
    /* Cambia el color de fondo a morado */
height: 1200px;
width: 1150px;
background-color: #E8DEF8; 
 
}
#segundoul, #segundoil{
    list-style: none;
 
}
#segundoul{
    display: flex;
    justify-content: center;
    width: 745px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
background: #FEF7FF;
list-style-type: none;
transform: translate(45%);
}

#segundoil {
    font-family: Roboto;
    display: inline-block;
    margin-right: 110px;
    transform: translateY(20%);
    margin-left: 80px;
    text-align: center;
    font-family: Roboto;
    border-bottom: 3px solid transparent; 
}
#label2{
    color:#6750A4;
    font-size: 14px;
    
}
#segundoil a{
    text-decoration: none;
}

#MiPerfil{
    overflow: hidden;
    position: relative;
  
}
#segundoil  {
    white-space: nowrap;
}

/* Estilos para el texto destacado */
.destacado {
    color: #6750A4;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;/* Cambia el color del texto destacado (puedes ajustar el color según tus preferencias) */
    border-bottom: 3px solid #6750A4;
}
.imagen {
    max-width: 300px; /* Ajusta el ancho máximo de la imagen según tus preferencias */
    margin-right: 100px; /* Ajusta el margen derecho según tus preferencias para crear espacio entre la imagen y Layout2 */
transform: translateX(5%);
margin-top: 100px;}
.contenedor {
    display: flex; /* Utiliza flexbox para organizar los elementos en fila */
    align-items: flex-start; /* Alinea los elementos verticalmente en la parte superior */
    margin-top: 100px; /* Ajusta el margen superior según tus preferencias */
}

#form {
    display: flex; /* Utiliza flexbox para organizar los elementos del formulario en fila */
    flex-direction: column; /* Coloca los elementos del formulario en columna */
    margin-top: 20px; /* Ajusta el margen superior del formulario para agregar espacio entre el formulario y la imagen */
    margin-left: 250px; }

/* Estilos para los elementos del formulario */
#tercerul {
    list-style: none;
    margin: 0; /* Elimina el margen predeterminado de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
}

#il3 {
    display: flex; /* Utiliza flexbox para organizar los elementos en fila */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    margin-bottom: 10px; 
    /* Ajusta el margen inferior entre los elementos del formulario */
}