#Formulario{
    /* Cambia el color de fondo a morado */
    height: 100%; 


 
}
#Fondo{
    height: 76vh; /* Usamos vh (viewport height) para que cubra toda la altura de la pantalla */
    width: 100%;
    background-color: #F3EDF7;
    margin-bottom: 25px;


}




#MiPerfil{
    overflow: hidden;
transform: translate(1%);
    position: center;


  
}

/* Estilos para el texto destacado */

.contenedor{
    display: flex;
    height: 87%;


}


#segundoul, #segundoil{
    list-style: none;
 
}
#segundoul{
    display: flex;
    justify-content: center;
    width: 65%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FEF7FF;
    list-style-type: none;
    margin-left: 30%;
    margin-right: 30%;

}

#segundoil {
    font-family: Roboto;
    display: inline-block;
    margin-right: 110px;
    transform: translateY(20%);
    margin-left: 80px;
    text-align: center;
    font-family: Roboto;
    border-bottom: 3px solid transparent; 
}
#label2{
    color:#6750A4;
    font-size: 14px;
    
}
#segundoil a{
    text-decoration: none;
}
#segundoil  {
    white-space: nowrap;
}

#imagen1{
    width: 30%;
 
        overflow: auto;
  
    }
.imagen{
        max-width: 275px; /* Ajusta el ancho máximo de la imagen según tus preferencias */
        margin-right: 25px; /* Ajusta el margen derecho según tus preferencias para crear espacio entre la imagen y el formulario */
        transform: translateX(10%);
        margin-top: 30px; 
    }
    #MiPerfil{
        overflow: hidden;
        width: 100%;
        position: center;
    
    }
    .input-box1:hover {
        border-color: #6750A4; /* Cambia el color del borde cuando el input está enfocado */
    }
 #formulario1{


    width: 40%;
    overflow: auto;
    transform: translate(40%)



 }

 #formul{
    list-style: none;

 }
 #formil{

    margin-top: 10px;
    text-align: center; /* Centra horizontalmente el contenido de cada <li> */
    margin-bottom: 5px; /* Espacio entre cada par de elementos <label> y <input> */
    justify-content: space-between;
    position: relative;
 



 }
#label5{
    display: block;
    margin-bottom: -8px; 
    position: relative;
    transform: translate(-20%);
    color: var(--m-3-sys-light-primary, #6750A4);
    /* M3/body/small */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; 
    z-index: 1; 
}
#label6{
    display: block;
    margin-bottom: -8px; 
    position: relative;

    transform: translate(-25%);
    color: var(--m-3-sys-light-primary, #6750A4);
    /* M3/body/small */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; 
    z-index: 1; 


}
#label4{
    display: block;
    margin-bottom: -8px; 
    position: relative;
    transform: translate(-33%);
    color: var(--m-3-sys-light-primary, #6750A4);
    /* M3/body/small */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; 

    z-index: 1; 
}
#label7{
    display: block;
    margin-bottom: -8px; 
    position: relative;
    transform: translate(-30%);
    color: var(--m-3-sys-light-primary, #6750A4);
    /* M3/body/small */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; 

    z-index: 1; 
}
.destacado {
    color: #6750A4;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;/* Cambia el color del texto destacado (puedes ajustar el color según tus preferencias) */
    border-bottom: 3px solid #6750A4;
}
.input-box1{
    position:relative;
    border: 2px solid #6750A4;
    width: 250px;
    height: 40px;
    border-radius: 4px 4px 0px 0px;
    z-index: 0; 
    background-color: transparent;
    outline: none;

}

.submit-button{
    color: var(--m-3-sys-light-primary, #6750A4);
    border-radius: 200px;
    border: 1px solid var(--m-3-sys-light-outline, #79747E);

  
    text-align: center;
    /* M3/label/large */
    font-family: Roboto;
    font-size: 100%;
    font-style: normal;
    font-weight: 500;
    width: 50%;
    line-height: 40px; /* 142.857% */
    background-color: transparent; /* Fondo transparente */
    font-weight: bold;
    cursor: pointer;
    transform: translate(5%);
    margin-top: -50px;
  
    }
    #formul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* Alinea los elementos en filas y permite que se envuelvan cuando no haya suficiente espacio horizontal */

    }
    #formil{
        margin-bottom: 10px; 

    }
   