#Formulario{
    /* Cambia el color de fondo a morado */
height: 1200px;
width: 1150px;
background-color: #E8DEF8; 
 
}
#segundoul, #segundoil{
    list-style: none;
 
}
#segundoul{
    display: flex;
    justify-content: center;
    width: 745px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
background: #FEF7FF;
list-style-type: none;
transform: translate(45%);
}

#segundoil {
    font-family: Roboto;
    display: inline-block;
    margin-right: 110px;
    transform: translateY(20%);
    margin-left: 80px;
    text-align: center;
    font-family: Roboto;
    border-bottom: 3px solid transparent; 
}
#label2{
    color:#6750A4;
    font-size: 14px;
    
}
#segundoil a{
    text-decoration: none;
}

#MiPerfil{
    overflow: hidden;

  
}
#segundoil  {
    white-space: nowrap;
}

/* Estilos para el texto destacado */
.destacado {
    color: #6750A4;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;/* Cambia el color del texto destacado (puedes ajustar el color según tus preferencias) */
    border-bottom: 3px solid #6750A4;
}
