.Librooo{
    display:flex


}
#nuevorecurso {
    background-color: #6750A4;
    /* Fondo transparente */
    border: none;
    border-radius: 20px 20px 20px 20px;
    width: 201px;
    height: 40px;
    float: left;
    margin-left:auto;

}
#nuevorecurso a{ 
    color: var(--m-3-sys-light-primary, white);
    text-align: center;
    font-weight: bold;
    font-family: Roboto;
    text-decoration: none;
    margin: 5% 0%;
    font-size: 14px;
    
  
}


#lipage6{
    margin-bottom: 40px; /* Espacio entre cada par de elementos <label> y <input> */
    justify-content: space-between;
    list-style: none;

}
#labelpage6{
    display: block;
    margin-bottom: -8px; 
    position: relative;
    transform: translate(2%);
    color: var(--m-3-sys-light-primary, #6750A4);
    /* M3/body/small */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; 
    z-index: 1; 
}
.input-boxpage6{
    position:relative;
    border: 2px solid #6750A4;
    width: 590px;
    height: 30px;
    border-radius: 4px 4px 0px 0px;
    z-index: 0; 
    background-color: transparent;
    outline: none;
    
}
